@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
}

div.container {
  border-radius: 0.5em;
  background-color: hsl(0, 0%, 100%);
  display: flex;
}

img.desktop {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  width: 400px;
  border-radius: 0.5em 0 0 0.5em;
}

img.mobile {
  max-width: 700px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.5em 0.5em 0 0;
}
p.perf-text,
p.description,
p.s-price {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", "sans-serif";
}
h2,
p.price {
  font-family: "Fraunces", "sans-serif";
}

p.price {
  color: hsl(158, 36%, 37%);
  font-weight: 700;
  font-size: 30px;
}
div.prices {
  display: flex;
  align-items: center;
}

p.perf-text {
  letter-spacing: 2px;
}
p.description {
  letter-spacing: 0.03em;
  line-height: 1.5em;
}

i {
  margin-right: 5px;
}

.button {
  margin: 1em auto;
  font-family: "Montserrat", "sans-serif";
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  background: hsl(158, 36%, 37%);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin-top: 3em;
}

.button:active {
  margin: 1em auto;
  font-family: "Montserrat", "sans-serif";
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  background: hsl(158, 37%, 19%);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin-top: 3em;
}

@media only screen and (min-width: 850px) {
  div.container {
    width: 800px;
    margin: 10em auto;
  }

  img.mobile {
    display: none;
  }

  p.perf-text,
  p.description,
  p.s-price {
    padding-bottom: 1em;
  }

  h2 {
    font-size: 40px;
    padding-bottom: 1em;
  }

  div.right-side {
    padding: 3.5em;
  }

  p.s-price {
    padding: 1.5em;
  }

  .button {
    width: 100%;
    height: 50px;
  }

  .button:active {
    width: 100%;
    height: 50px;
  }
}

@media only screen and (max-width: 729px) {
  div.container {
    max-width: 700px;
    margin: 3em 1em;
    flex-direction: column;
  }

  div.right-side {
    padding: 1em;
  }

  img.desktop {
    display: none;
  }

  h2 {
    font-size: 40px;
    margin-top: 0.3em;
  }

  div.prices {
    margin-top: 2em;
    gap: 1em;
    margin-bottom: -1.5em;
  }

  p.description {
    margin-top: 1em;
  }
  .button {
    width: 100%;
    height: 40px;
  }

  .button:active {
    width: 100%;
    height: 40px;
  }
}

@media only screen and (min-width: 730px) and (max-width: 849px) {
  div.container {
    max-width: 700px;
    margin: 3em auto;
    flex-direction: column;
  }

  div.right-side {
    padding: 1em;
  }

  img.desktop {
    display: none;
  }

  h2 {
    font-size: 40px;
    margin-top: 0.3em;
  }

  div.prices {
    margin-top: 2em;
    gap: 1em;
    margin-bottom: -1.5em;
  }

  p.description {
    margin-top: 1em;
  }
  .button {
    width: 100%;
    height: 40px;
  }

  .button:active {
    width: 100%;
    height: 40px;
  }
}
